<label> Username: <%=@user.name%>: <%= comment.text%></label>
<% if can? :destroy, comment %>
    <%= button_to 'Delete comment', user_post_comment_path(@user.id, @post.id,comment.id), method: :delete %>
<% end %>