<div id="singlePost">
        <h3 class="post_title"> <%= link_to "Post ##{post.id}", controller: "posts", action: "show", id: id %> </h3>
        <p><%= post.text %></p>
        <label class="counters">Comments:<%= post.comments_counter %> Likes:<%= post.likes_counter %> </label>
</div> 